
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="{{range $i, $tag := .Tags}}{{if $i}},{{end}}{{.}}{{end}}"/>
    <meta name="description" content="{{.Summary}}" />
    <!-- ZUI 标准版压缩后的 CSS 文件 -->
    <link rel="stylesheet" href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/zui/1.9.2/css/zui.min.css">
    <!-- 本站CSS -->
    <link rel="stylesheet" type="text/css" href="/res/css/style.css">
    <!-- ZUI Javascript 依赖 jQuery -->
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/zui/1.9.2/lib/jquery/jquery.min.js"></script>
    <!-- ZUI 标准版压缩后的 JavaScript 文件 -->
    <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/zui/1.9.2/js/zui.min.js"></script>
    <!-- 本站JS -->
    <script src="/res/js/index.js"></script>
    <link rel="shortcut icon" type="images/x-icon" href="/res/favicon.ico">
    <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/lazysizes/5.3.2/lazysizes.min.js"></script>
    <title>{{.Title}} - {{.Name}}</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- 导航头部 -->
        <div class="navbar-header">
            淡白
        </div>
        <!-- 导航项目 -->
        <div class="collapse navbar-collapse navbar-collapse-example">
            <!-- 右侧的导航项目 -->

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <input style="margin-top: 3px;" id="searchBox" type="search" class="form-control search-input" placeholder="搜索">
                </li>
                <li><a href="/">首页</a></li>
                <li><a href="/links.html">友情链接</a></li>
            </ul>
        </div>
        <!-- END .navbar-collapse -->
    </div>
</nav>

<div class="container">
    <article class="article">
        <header>
            <h1 class="text-center">{{.Title}}</h1>
            <dl class="dl-inline">
                <dt>作者:</dt>
                <dd>{{.Author}}</dd>
                <dt>创建时间：</dt>
                <dd>{{.Date}}</dd>
                <dt></dt>
                <dd class="pull-right">
                    {{range .Tags}}
                    <span class="label label-success label-outline">{{.}}</span>
                    {{end}}
                </dd>
            </dl>
            <section class="abstract">
                <p><strong>摘要：</strong>{{.Summary}}</p>
            </section>
        </header>
            {{.Content}}
        <footer>
            <p class="pull-right text-muted">最后编辑于：{{.Updated}}</p>
            <p class="text-important">未经允许不得转载</p>
        </footer>
    </article>
</div>
<link href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.2.0/styles/default.min.css" rel="stylesheet">
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?957fa178e77a6b4c93efb5dad79b8d31";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
        $("img").each(function(i,elem){
            var e=$(elem);
            e.addClass("lazyload");
            var path=e.attr("src");
            e.attr("src","/res/loading.gif");
            e.attr("data-src",path);
        });
    })();
</script>
<script type="text/javascript">

</script>

</body>
<footer>
    <hr>
    <div class="container text-center">
        Copyright &copy; 2022<a href="https://p00q.cn">{{.Name}}</a><br/>
        <a href="https://beian.miit.gov.cn" target="_blank">蜀ICP备2021019028号</a>
        <br/>
        Source by <a target="_blank" href="https://github.com/danbai225/danbai225.github.io" data-pjax-state="">Github</a>
        <br/>
        <!-- 请尊重作者，请务必保留版权 -->
        Theme by <a target="_blank" href="https://github.com/danbai225/halo-theme-simple" data-pjax-state="">Simple</a>
        <p>本站运行：<span id="span_dt_dt"></span></p>
    </div>
</footer>
</html>
